*.csv
!country_names_map.csv
!Correlation_Coefficient.csv
__pycache__/
.vscode/
*.png
!japan_population.png
!niger_population.png
!india_population.png
!senegal_population.png
!gautemala_population.png
!united kingdom_population.png

._presentations/
